<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CatGrab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{28,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{28,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>CatHang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{32,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orangeCatGrab.pvr.ccz</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ee84e41dcba84e8a499b5c8f537a8d4$</string>
            <key>textureFileName</key>
            <string>orangeCatGrab.pvr.ccz</string>
        </dict>
    </dict>
</plist>
